---
title: Introduction
description: Introducing Promplate
---

### Contents

### What is Promplate

```
</Promplate/> = /prompt/ + <template>
```

Promplate is **a prompting framework** focusing on developing experience.
However, it can also be a super-convenient **SDK for simple LLM calls**.

Promplate progressively enhance your prompting workflow.
