{# from js import navigator #}

<|system|>
Your task is to guess what spoken language do the user use, based on the language preference of the browser.
Always reply in a few words.

<|user|>
{{ navigator.languages }}
